<html>
  <head>
    <link rel="stylesheet" href="/static/css/default.css" />
    <!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Brawler">-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=VT323">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  
  <body>
    {% if error_msg %}
    <div class="error_header" style="width: 100%">
      {{ error_msg }}
    </div>
    {% endif %}
    
    {% block body %}
    {% endblock %}
    
    
  </body>
</html>